<div id="contact-info">
    <center>
    {% if page.author %}
    <i class="fi-mail" style="margin-left:1em"></i>
    <font size="8">{{ page.author }}</font>
    {% endif %}
    <br />

    {% if page.position %}
    <i class="fi-position"></i>
    {{ page.position }},
    {% endif %}
    
    {% if page.affiliation1 %}
    <i class="fi-affiliation"></i>
     {{ page.affiliation1 }}
    {% endif %}
    <br />

    {% if page.affiliation2 %}
    <i class="fi-affiliation"></i>
     {{ page.affiliation2 }}
    {% endif %}
    <br />
    {% if page.email %}
    <i class="fi-mail" style="margin-left:1em"></i>
    <a href="{{ page.email.url }}" style="margin-left:0.5em">{{ page.email.text }}</a>
    {% endif %}

    {% if page.homepage %}
    <i class="fi-home" style="margin-left:1em"></i>
    <a href="{{ page.homepage.url }}" style="margin-left:0.5em"> {{ page.homepage.text }}</a>
    {% endif %}

    <!-- {% if page.phone %}
    <i class="fi-telephone" style="margin-left:1em"></i>
    {{ page.phone }}
    {% endif %} -->

    {% if page.date %}
    <i class="fi-date" style="margin-left:1em"></i>
    Updated: {{ page.date }}
    {% endif %}
    </center>
<br />
</div>