---
layout: default
pdf: true
---

<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Publications</title>
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  <!-- <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">
  <link href="media/foundation-icons/foundation-icons.css" type="text/css" rel="stylesheet" > -->
  <style>
    .wrapper strong {
        font-weight: bold;
    }
  </style>
</head>

<div id="info">
  <h1 class="post-title">Publications</h1>
  {% if page.date %}
  <!-- <i class="fi-date" style="margin-left:1em"></i> -->
  Updated: {{ page.date }}
  {% endif %}
  <br><br>
</div>

<div id="main">
    <div id="content">   
        {{ content }}
    </div>
</div>